<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTab</key>
	<array>
		<dict>
			<key>title</key>
			<string>mainItem0</string>
			<key>image</key>
			<string>tab_home.png</string>
			<key>highlightedImage</key>
			<string>tab_home_selected.png</string>
			<key>viewController</key>
			<string>HomeViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mainItem1</string>
			<key>image</key>
			<string>tab_profile.png</string>
			<key>highlightedImage</key>
			<string>tab_profile_selected.png</string>
			<key>viewController</key>
			<string>ProfileViewController</string>
		</dict>
	</array>
	<key>SignUpList</key>
	<array>
		<array>
			<dict>
				<key>placeholder</key>
				<string>signUpAccPlaceholder</string>
			</dict>
			<dict>
				<key>placeholder</key>
				<string>authcodePlaceholder</string>
				<key>code</key>
				<string>sendCode</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>placeholder</key>
				<string>passwordPlaceholder</string>
			</dict>
			<dict>
				<key>placeholder</key>
				<string>confirmPasswordPlaceholder</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>placeholder</key>
				<string>companyPlaceholder</string>
				<key>title</key>
				<string>company</string>
			</dict>
		</array>
	</array>
	<key>ReSignUpList</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title1</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title2</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title3</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title4</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ReSignUpViewController.title5</string>
				<key>placeholder</key>
				<string>ReSignUpViewController.placeholder5</string>
			</dict>
		</array>
	</array>
	<key>ForgetPwdList</key>
	<array>
		<dict>
			<key>placeholder</key>
			<string>signUpAccPlaceholder</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>authcodePlaceholder</string>
			<key>code</key>
			<string>sendCode</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>newPwd</string>
		</dict>
	</array>
	<key>MyProfileList</key>
	<array>
		<dict>
			<key>image</key>
			<string>Profile_member_icon.png</string>
			<key>title</key>
			<string>MyProfile.title</string>
			<key>viewController</key>
			<string>VIPCenterViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Profile_post_icon.png</string>
			<key>title</key>
			<string>MyProfile.title1</string>
			<key>viewController</key>
			<string>MypostViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Profile_reply_icon.png</string>
			<key>title</key>
			<string>MyProfile.title2</string>
			<key>viewController</key>
			<string>MyProfileViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Profile_information_icon.png</string>
			<key>title</key>
			<string>MyProfile.title3</string>
			<key>viewController</key>
			<string>UserGuideViewController</string>
		</dict>
	</array>
	<key>VIPMembersList</key>
	<array>
		<dict>
			<key>image</key>
			<string>pay_icon1.png</string>
			<key>title</key>
			<string>VIPMembersList.title</string>
			<key>detailTitle</key>
			<string>VIPMembersList.detailTitle</string>
		</dict>
		<dict>
			<key>image</key>
			<string>pay_icon2.png</string>
			<key>title</key>
			<string>VIPMembersList.title1</string>
			<key>detailTitle</key>
			<string>VIPMembersList.detailTitle1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>pay_icon3.png</string>
			<key>title</key>
			<string>VIPMembersList.title2</string>
			<key>detailTitle</key>
			<string>VIPMembersList.detailTitle2</string>
		</dict>
	</array>
	<key>VIPPayTypelist</key>
	<array>
		<dict>
			<key>image</key>
			<string>WeChat.png</string>
			<key>title</key>
			<string>VIPPayViewController.title</string>
			<key>detailTitle</key>
			<string>VIPPayViewController.detailTitle</string>
		</dict>
	</array>
	<key>UserInfolist</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UserInfoViewController.title5</string>
			</dict>
		</array>
	</array>
	<key>SettingList</key>
	<array>
		<dict>
			<key>title</key>
			<string>SetViewController.title</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SetViewController.title1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SetViewController.title2</string>
		</dict>
	</array>
</dict>
</plist>
